<div class="header">
  <h3 class="title"> Brother vs Brother</h3>
  <h5 class="description"> Running for Healthy Hearts</h5>
  <div class="story-tldr">
    <div class="page-container">
      <p>Okay, heres the cliff notes. Our dad had a MASSIVE heart attach, was 'unresponsive' for 45 min, took 12
        defibrillator zaps and then started beating again. He spent 4? days in an induced comma before the doctors
        attempted to wake him.</p>
      <p>He survived...</p>
      <p>Me and my brother both have reasons for run. For me, the primary reasons and motivator is to spread awareness
        of heart disease and raise funds for research / technology that undoubtedly saved my dads life.</p>
    </div>
  </div>
  <div class="story">
    <div class="page-container">
      with Love (and sweet) <br>
      Garrett
    </div>
  </div>
  <bvb-donate class="sticky-top"></bvb-donate>
</div>