@import '../../../styles/abstract/variables';

.header {
    background-color: $black;
    color: $white;

    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    & .title {
        font-family: 'Mr De Haviland', cursive;
        display: block;
        margin: 0;
        font-size: 3.5rem;
        font-weight: 200;
    }

    & .description {
        display: block;
        margin: 0;
        margin-top: -10px;
        font-weight: 300;
    }

    .sticky-top {
        position: sticky;
        top: 0;
    }
}

.story,
.story-tldr {
    width: 100%;
    font-size: 1.1rem;
    font-weight: 300;
}
