@import '../../../styles/abstract/variables';

$blueColor: rgb(27, 27, 182);
$redColor: rgb(182, 27, 27);

.activity {
    margin-bottom: 10px;

    &__name {
        font-size: 1.25rem;
        font-weight: 300;
    }
    &__date {
        font-size: 0.8rem;
        font-weight: 500;
    }
    &__distance {
        font-size: 1rem;
        font-weight: 300;
        color: $black-text-lighter;
    }
    &:hover .timeline-activities {
        &__marker {
            transition: all 0.25s ease-in-out;
            opacity: 0;
            &--small {
                opacity: 1;
                display: initial;
                transition: all 0.125s ease-in-out;
                box-shadow: 0 0 8px 8px rgba($redColor, 0.5);
            }
        }
    }
}
.timeline-activities:last-child {
    .activity:hover {
        .timeline-activities__marker {
            &--small {
                box-shadow: 0 0 8px 8px rgba($blueColor, 0.5);
            }
        }
    }
}
.timeline-activities {
    width: 50%;
    &:last-child {
        text-align: right;
    }

    &:last-child #{&}__marker {
        border-color: $blueColor;
        left: 50%;
    }
    &:last-child #{&}__marker--small {
        border-color: $blueColor;
        left: calc(50% + 8px);
    }

    &__marker,
    &__marker--small {
        transition: all 0.125s ease-in-out;
        border: 14px solid $redColor;
        position: absolute;
        right: 50%;
        opacity: 0.6;
        border-radius: 50%;
    }
    &__marker--small {
        transition: all 0.25s ease-in-out;
        opacity: 1;
        border-width: 6px;
        border-color: $redColor;
        margin-top: 8px;
        right: calc(50% + 8px);
    }
}
.timeline-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.timeline-bar {
    position: absolute;
    right: calc(50% - 2px);
    bottom: 0;
    width: 3px;
    height: 100%;
    background-color: rgba($redColor, 0.8);
    border-radius: 2px;
}
